.resturent{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background: url('../../images/rest-bg.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.resturent .left-part{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 100px;
    padding-right: 30px;
   

    

} 


.resturent .right-part{
    width: 50%;

}

.resturent .left-part .title h2{
    font-size: 48px;
    color: white;
    font-weight: 700;

}
.resturent .left-part .description{
    color: white;
    font-size: 22px;

}

.resturent .left-part .logo{
    display: flex;
    gap: 20px;
}

.resturent .left-part .logo .first-logo{
    background: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 55px;
    border-radius: 50px;
    cursor: pointer;
}

.resturent .left-part .logo .first-logo img{
    width: 30px;
}

.resturent .left-part .logo .first-logo p{
    font-weight: bold;
}   

.resturent .left-part .logo .second-logo{
    background: black;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 55px;
    border-radius: 50px;
    cursor: pointer;
}

.resturent .left-part .logo .second-logo img{
    width: 30px;
}

.resturent .left-part .logo .second-logo p{
    font-weight: bold;
    color: white;
}

@media only screen and (max-width: 1000px) {

    .resturent{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
     
    }

    .resturent .left-part{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10px;
        gap: 20px;
        
       
    } 

    .resturent .right-part{
        width: 90%;

    }  

    .resturent .right-part img{
        width: 100%;

    }

    .resturent .left-part .title h2{
        font-size: 35px;
    
    }
    .resturent .left-part .description{
   
        font-size: 20px;
        flex-wrap: wrap;
    
    } 

    .resturent .left-part .logo .first-logo{
       
        width: 40vw;
      
    }

    .resturent .left-part .logo .second-logo{
       
        width: 40vw;
      
    }


}

