.faq{
    
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    background-image: url('../../images/faq-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
   
}

.faq .left-part{
    width: 45vw;
    display: flex;
    flex-direction: column;

    gap: 20px;
   
    
}

.faq .left-part .title h2{
    font-size: 50px;
}

.faq .right-part{
    width: 45vw;
    display: flex;
    
  
}

.faq .faq-container .faq-item{
   
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    
    
}

.faq .faq-container .question{
  
    padding: 15px;
    background: #f5f5f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.faq .faq-container .question .icon{
    cursor: pointer;
}

.faq .faq-container .answer{
    background: #f5f5f7;
    padding: 15px;
    border-top: 1px solid #f01543;

}

.faq .right-part .image-gallery{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq .right-part .image-gallery .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

}

.faq .right-part .image-gallery .row img{
    border-radius: 10px;
}

.faq .right-part .image-gallery .row .second{
    position: relative;
}

.faq .right-part .image-gallery .row .second .image-overlay{
    
    position: absolute;
    background-color: rgba(0, 9, 41, 0.84);
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;

}   

.faq .right-part .image-gallery .row .third{
    position: relative;
}

.faq .right-part .image-gallery .row .third .image-overlay3{
    
    position: absolute;
    background-color: rgba(240, 21, 67, 0.84);
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;

}  



.faq .right-part .image-gallery .row .second .image-overlay .big{
    font-size: 55px;
    display: block;
}

.faq .right-part .image-gallery .row .third .image-overlay3 .big{
    font-size: 55px;
    display: block;
}  

@media only screen and (max-width: 1659px) {
    .faq .left-part{
        width: 35vw;
    }
}

@media only screen and (max-width: 1509px) {
    .faq{
        display: flex;
        flex-direction: column;
    }
    .faq .left-part{
        width: 80vw;
    }
    .faq .right-part{
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .faq{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        width: 95vw;
       
    }

    .faq .left-part{
        width: 93vw;
    }

    .faq .right-part{
        display: none;
    }

  
    .faq .left-part .title h2{
        font-size: 30px;
    }
   
}
