.process{
    background: url('../../images/Process-bg.png');
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
   
  

}
.process .left-side{
    
    width: 45vw;
}
.process .left-side img{
    width: 40vw;
}
.process .right-side{
   
    width: 45vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.process .right-side .card-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

.process .right-side .card-group .card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.process .right-side .title h2{
    color: white;
    font-size: 40px;
}


.process .right-side .card-group .card{
    background: #0d1634;
    padding: 15px;
    border-radius: 20px;
    width: 30vw;
}

.process .right-side .card-group .card .icon{
    color: white;
    background: #262e49;
    padding: 10px;
    border-radius: 15px;

}

.process .right-side .card-group .card .card-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.process .right-side .card-group .card h3{
    color: white;
    font-size: 25px;

}
.process .right-side .card-group .card p{
    color: white;
    font-size: 17px;
}
.process .right-side .card-group .card .sticker-number{
    position: absolute;
    top: 60%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-weight: bold;
    opacity: 0.1;
}

@media only screen and (max-width: 1000px) {
    .process{
        
    }
}

@media only screen and (max-width: 1000px) {
    .process{
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .process .left-side{
        width: 99vw;
    }
    .process .left-side img{
        width: 90vw;

    }
    .process .right-side{
        width: 99vw;
    }

    .process .right-side .card-group .card{
        width: 90vw;
    }
}