.header{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.header.scrolled {
    background-color: #000929;
    z-index: 1000;
   
   
  }

.header .left-side{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}
.header .left-side .brand{
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.header .left-side .menu{
    color: white;
    font-size: 17px;
    display: flex;
    gap: 15px;
    font-weight: 700;
}
.header .left-side .menu .custom-link{
    color: white;
}

.header .right-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header .right-side .search-bar{
    border: 1px solid gainsboro;
    height: 50px;
    border-radius: 10px;
    background: #000929;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;

}

.header .right-side .search-bar input{
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 16px;
}

.header .right-side .wish-list{
    background: #122833;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.header .right-side .wish-list .number{
    position: absolute;
    color: white;
    background: red;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header .right-side .cart{
    background: #122833;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.header .right-side .cart .number{
    position: absolute;
    color: white;
    background: red;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .right-side .signin button{
    border: none;
    background: transparent;
    border: 1px solid gainsboro;
    outline: none;
    width: 120px;
    height: 50px;
    color: white;
    font-size: 19px;
    border-radius: 10px;
    cursor: pointer;

}
.header .responsive-menu{
    display: none;
}

@media only screen and (max-width: 1461px) {
    .header .right-side .search-bar{
        display: none;
    }

}

@media only screen and (max-width: 1189px) {
    .header .right-side .signin button{
        display: none;
        
    }

}

@media only screen and (max-width: 1143px) {
    .header .right-side{
        display: none;
    }

}

@media only screen and (max-width: 1000px) {
    .header{
        padding-left: 10px;
        padding-right: 10px;
       
        
    }
    .header.scrolled .brand{
       
        
    }
    .header.scrolled .responsive-menu{
        
       
    }

   
    .header .right-side{
        display: none;
    }
    .header .left-side .menu{
        display: none;
    }
    .header .responsive-menu{
        display: flex;
        padding-right: 20px;
        color: white;
    }
}