.layout{
    position: relative;
    
} 

.layout .container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.layout .container .left-part{
    width: 15vw;
    border-right: 1px solid #fccbd5;
    flex-wrap: wrap;
    height: 100vh;
}

.layout .container .right-part{
    width: 85vw;
   
    flex-wrap: wrap;
}




@media only screen and (max-width: 1410px) {

    .layout .container .left-part{
        width: 20vw;
    }

    .layout .container .right-part{
        width: 80vw;
    }

}



@media only screen and (max-width: 1000px) {

    .layout .container .left-part{
        display: none;
    }

    .layout .container .responsive{

        position: absolute;
        top: 0px;
        z-index: 9999;
        background: white;
        
        width: 65vw;
        display: block;
        

    }

    .layout .container .right-part{
        width: 100vw;
        overflow-x: hidden;
        flex-wrap: wrap;
       
       
    }

}