.navbar{
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 1px solid #fccbd5;
  position: relative;
  
}

.navbar .container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
 

} 

.navbar .responsive-btn{
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
  background: red;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  display: none;
  
}

.navbar .container .section-1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
}

.navbar .container .section-1 img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.navbar .container .section-1 .name{
 font-weight: bold;


}

.navbar .container .section-1 .name .row{
 
  position: realtive;
 
}

.navbar .container .section-1 .name .row .icon{

  position: absolute;
  top: 20;
  color: gray;
  cursor: pointer;
 
}


.navbar .container .section-2{
  display: flex;
  flex-direction: column;
 
  gap: 10px;
  

  position: absolute;
  top: 90px;
  width: 200px;
  z-index: 9999;
  background: white;

} 

.navbar .container .section-2 .title{
  font-weight: bold;
  margin-left: 15px;
  margin-top: 20px;
  border-bottom: 1px solid #fccbd5;
  padding-bottom: 15px;

}

.navbar .container .section-2 .profile-group{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 15px;

}

.navbar .container .section-2 .profile-group .icon{
  background: #f01543;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
  
}  

@media only screen and (max-width: 1000px) {

  .navbar{
    padding: 30px;
   
    
  }

  .navbar .responsive-btn{
    display: flex;
    margin-left: 50px;
  }

}

